<h1>{{ title }}</h1>
<h3>Admin links</h3>
<ul>
    <li>
        <a routerLink="admin/login">Login</a>
    </li>
    <li>
        <a routerLink="admin/list">List</a>
    </li>
</ul>

<br/>
<br/>

<h3>User links</h3>
<ul>
    <li>
        <a routerLink="user/login">Login</a>
    </li>
    <li>
        <a routerLink="user/list">List</a>
    </li>
</ul>

<button (click)="loadCronJob()">Load Cron Job list</button>
<button (click)="loadTemplate()" >Load Template list</button>

<router-outlet></router-outlet>